/* You can add global styles to this file, and also import other style files */

  .green-btn {
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s;
  }

  .green-btn:hover {
    background-color: darkgreen;
  }

  .container {
    margin: auto;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding-top: 80px; /* Push content below header */
    overflow-x: hidden;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
