<div class="filter-bar">
    <input
      type="text"
      placeholder="Search by course name or code..."
      (input)="filterCourses($event)"
    />
  </div>
  

<div class="course-table-wrapper">
    <table class="course-table">
      <thead>
        <tr>
            <th (click)="sortBy('code')">
                Course Code
                <span>
                  <ng-container *ngIf="currentSortColumn === 'code'; else neutral">
                    {{ sortDirection['code'] === 'asc' ? '▲' : '▼' }}
                  </ng-container>
                  <ng-template #neutral>⇅</ng-template>
                </span>
              </th>

              <th (click)="sortBy('name')">
                Course Name
                <span>
                  <ng-container *ngIf="currentSortColumn === 'name'; else nameNeutral">
                    {{ sortDirection['name'] === 'asc' ? '▲' : '▼' }}
                  </ng-container>
                  <ng-template #nameNeutral>⇅</ng-template>
                </span>
              </th>

              <th (click)="sortBy('credits')">
                Credits
                <span>
                  <ng-container *ngIf="currentSortColumn === 'credits'; else creditsNeutral">
                    {{ sortDirection['credits'] === 'asc' ? '▲' : '▼' }}
                  </ng-container>
                  <ng-template #creditsNeutral>⇅</ng-template>
                </span>
              </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let course of filteredCourses">
          <td>{{ course.code }}</td>
          <td>{{ course.name }}</td>
          <td>{{ course.credits }}</td>
        </tr>
      </tbody>
    </table>
  </div>