<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="angular\src\app\register\register.component.css">
    <title>Create New Account</title>
</head>
<body>
    <header class="header"></header>
    <div class="container">
        <h1>Create New Account</h1>
        <p class="subtext"> Register as:</p>
        <div class="button-container">
            <a href="tutor-match-repo\angular\src\app\tutorreg\tutorreg.component.html" class="tutor-link">
                <button class="tutor-btn">Tutor</button>
            </a>
            <a href="tutor-match-repo\angular\src\app\studentreg\studentreg.component.html" class="student-link">
                <button class="student-btn">Student</button>
            </a>
            <p>Already have an account? <a href="angular\src\app\login\login.component.html">Log In</a></p>
        </div>
    </div>
</body>
</html>