<div class="header"></div>
<div class="container">
    <h1>Login</h1>
    <p>Don't have an account? <a [routerLink]="['/register']">Register Here</a></p>
    <form (ngSubmit)="login()" #loginForm="ngForm">
        <label for="email">Email</label>
        <input
            type="email"
            name="email"
            id="email"
            [(ngModel)]="email"
            placeholder="Enter your email"
            required
            />

        <label for="password">Password</label>
        <input
            type="password"
            name="password"
            id="password"
            [(ngModel)]="password"
            placeholder="Enter your password"
            required
            minlength="6"
            />

        <button type="submit">Login</button>
    </form>
</div>

